{%- assign pagelang = 'en' -%}
{%- if page.lang -%}
  {%- assign pagelang = page.lang -%}
{%- endif -%}
{%- unless pagelang == "en" -%}
{%- assign enupdatedate = enpage.last_updated | date: "%s" -%}
{%- assign thisupdatedate = page.last_updated | date: "%s" -%}
{%- if page.changelog -%}
  {%- assign chagelogpage=site.documents | where:"ref", page.changelog | first -%}
  {%- unless changelogpage.ref -%}
    {%- assign changelogpage=site.pages | where:"ref", page.changelog | first -%}
  {%- endunless -%}
  {%- assign changelogpageurl = changelogpage.url | relative_url -%}
  {%- assign changelogpagereplace = "$1|" | append: changelogpageurl -%}
{%- else -%}
  {%- assign changelog = "" -%}
{%- endif -%}
<section id="translation-info" class="doc-note-box doc-note-translation">
  <h2 class="visuallyhidden">{% include t.html t="About this Translation" %}</h2>
  <p>{% assign replacepattern = enpage.url | relative_url | prepend: "$1|"  %}{% include t.html t='This volunteer translation might not accurately reflect the intentions of the <a href="$1">English original</a>.' replace=replacepattern %}</p>
  {% if pagelang == 'en' %}
  <p>{% include_cached icon.html name="check-circle" %} {% include t.html t='Translation up-to-date with the English version.' %}
    <br>{% include t.html t='Translation updated:' %} <span dir="auto">{{page.last_updated | date: "%d %b %Y"}}</span>. {% include t.html t='English updated:' %} <span dir="auto">{{enpage.last_updated | date: "%d %b %Y"}}</span>.
   </p>
  <p>{% include_cached icon.html name="warning" %} {% include t.html t='English version updated since this translation: <a href="$1">Change log</a>.' replace=changelogpagereplace %}
    <br>{% include t.html t='English updated:' %} <span dir="auto">{{enpage.last_updated | date: "%d %b %Y"}}</span>. {% include t.html t='Translation updated:' %} <span dir="auto">{{page.last_updated | date: "%d %b %Y"}}</span>.
  </p>
  {% else %}
  {% if enupdatedate <= thisupdatedate %}
  <p>{% include_cached icon.html name="check-circle" %} {% include t.html t='Translation up-to-date with the English version.' %}
    <br>{% include t.html t='Translation updated:' %} <span dir="auto">{{page.last_updated | date: "%d %b %Y"}}</span>. {% include t.html t='English updated:' %} <span dir="auto">{{enpage.last_updated | date: "%d %b %Y"}}</span>.
   </p>
  {% else %}
  <p>{% include_cached icon.html name="warning" %} {% include t.html t='English version updated since this translation: <a href="$1">Change log</a>.' replace=changelogpagereplace %}
    <br>{% include t.html t='English updated:' %} <span dir="auto">{{enpage.last_updated | date: "%d %b %Y"}}</span>. {% include t.html t='Translation updated:' %} <span dir="auto">{{page.last_updated | date: "%d %b %Y"}}</span>.
  </p>
  {% endif %}
  {% endif %}
  <p>
    {%- capture translatorslabel %}<strong>{% include t.html t='Translator:' %}</strong>{%- endcapture %}
    {% include peoplelist.html label=translatorslabel people=page.translators %}
    {%- capture contributorslabel %}{% include t.html t='Contributor:' %}{%- endcapture %}
    {% include peoplelist.html label=contributorslabel people=page.contributors %}
    {%- assign replacepattern = "/about/translating/" | relative_url | prepend: "$1|" -%}
    <br>{% include t.html t='WAI thanks translators, and welcomes other <a href="$1">translations</a>.' replace=replacepattern %}</p>
</section>
{%- endunless -%}